{% extends "base.html" %}

{% block title %}Change Your Password{% endblock title %}

{% block content %}
<style>
    .login-form {
        background-color: #fff;
    }

    .login-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .login-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>

<div class="container-fluid my-5 z-depth-1">
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form class="login-form p-4 rounded" method="post">
                    {% csrf_token %}
                    <h1 class="h4 mb-4 font-weight-bold text-center">Change your password</h1>
                    <p class="text-center">Use the form below to change your password.</p>
                    {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                        Error: Please try again!
                    </div>
                    {% endif %}
                    <label class="small font-weight-bold">{{ form.old_password.label}}</label>
                    {{ form.old_password }}
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 16 characters.</li>
                        <li>Your password can’t be a commonly used dictionary word.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
                    {{ form.new_password1 }}
                    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
                    {{ form.new_password2 }}
                    <button class="btn btn-primary w-100 py-2 mb-4 mt-5 font-weight-bold" type="submit"
                        value="Change">Submit
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
