{% load static %}
<style>
    .avatar {
        height: 40px;
        width: 40px;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;
    }
    .bg-blue {
      background-color: #E5FFFF;
    }
</style>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-blue border-bottom shadow">
    <ul class="nav nav-pills me-auto pt-2">
      <a class="navbar-brand pt-0" href="{% url 'blog:homepage' %}">
        <img src="{% static 'images/logo-sm.jpg' %}" alt="Excession Development" style="height: 50px;">
      </a>
      <li class="nav-item">
        <a class="nav-link px-2 text-dark" href="{% url 'blog:homepage' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 text-dark" href="{% url 'blog:post-search' %}">Search</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog:contact' %}" class="nav-link px-2 text-dark">Contact</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'blog:about' %}" class="nav-link px-2 text-dark">About</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in category_list %}
              <li><a class="dropdown-item" href="/category/{{ category.name }}">{{ category.name|title }}</a></li>
              {% empty %}
              <li>There are no categories at this time.</li>
            {% endfor %}
          </ul>
        </li>
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="nav nav-pills ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="{% for data in avatar %}
          {{ data.avatar.url }}
          {% endfor %}" alt="" class="avatar" ></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Dashborad</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:edit' %}">Edit Details</a></li>
          <li><a href="{% url 'accounts:favourites-list' %}" class="dropdown-item">Favourite Posts</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:pwdchange' %}">Change Password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </li>
    </ul>
    {% else %}
    <ul class="nav nav-pills ms-auto">
        <li class="nav-item"><a class="nav-link p-2 text-dark" href="{% url 'accounts:register' %}">Register</a></li>
        <li class="nav-item"><a class="nav-link p-2 text-dark" href="{% url 'accounts:login' %}">Login</a></li>
    </ul>
    {% endif %}
    <form class="d-flex" method="get" action="{% url 'blog:post-search' %}">
      <input class="form-control me-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
</div>
