{% extends "base.html" %}

{% load static %}

{% block title %}Helpdesk Ticket{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 py-3 mb-3 shadow">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create a New Ticket</h3>
                    {% if error_message %}
                      <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form action="" method="POST" role="form" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        {% include "services/form_template.html" %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 col-md-8">
                                <button type="submit" class="btn btn-success w-100 mt-3">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
